[submodule "kriel-2026-ssd-nonlinear"]
	path = kriel-2026-ssd-nonlinear
	url = git@github.com:AstroKriel/Kriel2026_ssd_nonlinear.git
[submodule "kriel-2023-ssd-exp-supersonic"]
	path = kriel-2023-ssd-exp-supersonic
	url = git@github.com:AstroKriel/Kriel2023_ssd_exp_supersonic.git
[submodule "kriel-2022-ssd-exp-subsonic"]
	path = kriel-2022-ssd-exp-subsonic
	url = git@github.com:AstroKriel/Kriel2022_ssd_exp_subsonic.git
[submodule "kriel-beattie-curvature"]
	path = kriel-beattie-curvature
	url = git@github.com:AstroKriel/KrielBeattie_curvature.git
	branch = main
[submodule "kriel-quokka-mhd"]
	path = kriel-quokka-mhd
	url = git@github.com:AstroKriel/Kriel_quokka_mhd.git
	branch = main
