[submodule "kriel-2026-ssd-nl"]
	path = kriel-2026-ssd-nl
	url = git@github.com:AstroKriel/Kriel2026_ssd_nl.git
[submodule "kriel-2023-supersonic-ssd-exp"]
	path = kriel-2023-supersonic-ssd-exp
	url = git@github.com:AstroKriel/Kriel2023_supersonic_ssd_exp.git
[submodule "kriel-2022-subsonic-ssd-exp"]
	path = kriel-2022-subsonic-ssd-exp
	url = git@github.com:AstroKriel/Kriel2022_subsonic_ssd_exp.git
[submodule "kriel-beattie-curvature"]
	path = kriel-beattie-curvature
	url = git@github.com:AstroKriel/KrielBeattie_curvature.git
	branch = main
[submodule "kriel-quokka-mhd"]
	path = kriel-quokka-mhd
	url = git@github.com:AstroKriel/Kriel_quokka_mhd.git
	branch = main
