[submodule "kriel_2026_ssd_nl"]
	path = kriel_2026_ssd_nl
	url = git@github.com:AstroKriel/Kriel2026_ssd_nl.git
[submodule "kriel_2023_supersonic_ssd_exp"]
	path = kriel_2023_supersonic_ssd_exp
	url = git@github.com:AstroKriel/Kriel2023_supersonic_ssd_exp.git
[submodule "kriel_2022_subsonic_ssd_exp"]
	path = kriel_2022_subsonic_ssd_exp
	url = git@github.com:AstroKriel/Kriel2022_subsonic_ssd_exp.git
[submodule "kriel_beattie_curvature"]
	path = kriel_beattie_curvature
	url = git@github.com:AstroKriel/KrielBeattie_curvature.git
	branch = main
[submodule "kriel_quokka_mhd"]
	path = kriel_quokka_mhd
	url = git@github.com:AstroKriel/Kriel_quokka_mhd.git
	branch = main
